<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>ZKUI</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" th:href="@{/static/layui/css/layui.css}">
<script th:src="@{/static/layui/layui.js}"></script>
</head>
<body style="background-color: #F2F2F2;">
	<div style="padding: 20px;">
		<div class="layui-row layui-col-space15">
			<div class="layui-col-md12">
				<div class="layui-card">
					<div class="layui-card-header">添加</div>
					<div class="layui-card-body layui-card-body-max">
						<form class="layui-form layui-form-pane" lay-filter="add" action="">
							<div class="layui-form-item">
								<label class="layui-form-label">上级节点</label>
								<div class="layui-input-block">
									<input type="text" name="superiorPath" lay-verify="superiorPath" autocomplete="off" class="layui-input layui-disabled" disabled />
								</div>
							</div>
							<div class="layui-form-item">
								<label class="layui-form-label">节点名</label>
								<div class="layui-input-block">
									<input type="text" name="path" lay-verify="path" autocomplete="off" class="layui-input" />
								</div>
							</div>
							<div class="layui-form-item layui-form-text">
								<label class="layui-form-label">节点值</label>
								<div class="layui-input-block">
									<textarea name="val" class="layui-textarea"></textarea>
								</div>
							</div>
							<button class="layui-btn" lay-submit="" lay-filter="add">添加</button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script th:inline="javascript">
		layui.use([ 'jquery', 'form', 'layer' ], function() {
			var $ = layui.jquery;
			var form = layui.form;
			var layer = layui.layerl;

			var superiorPath = [[${path}]];

			form.on('submit(add)', function(data) {
				var val = data.field.val;
				var path = data.field.path;
				var superiorPath = data.field.superiorPath;

				window.parent.socket_addNodes(superiorPath, path, val);
				parent.layer.close(parent.layer.getFrameIndex(window.name));
				return false;
			});

			form.verify({
				path : [ /^[\S]{1,50}$/, '节点不能为空，且不能出现空格' ]
			});

			form.val('add', {
				superiorPath : superiorPath
			});
		});
	</script>
</body>