<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>ZKUI</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" th:href="@{/static/layui/css/layui.css}">
<script th:src="@{/static/layui/layui.js}"></script>
</head>
<body style="background-color: #F2F2F2;">
	<div style="padding: 20px;">
		<div class="layui-row layui-col-space15">
			<div class="layui-col-md12">
				<div class="layui-card">
					<div class="layui-card-header">删除</div>
					<div class="layui-card-body layui-card-body-max">
						<form class="layui-form layui-form-pane" lay-filter="del" action="">
							<div class="layui-form-item">
								<label class="layui-form-label">删除节点</label>
								<div class="layui-input-block">
									<input type="text" name="superiorPath" lay-verify="superiorPath" autocomplete="off" class="layui-input layui-disabled" disabled />
								</div>
							</div>
							<button class="layui-btn" lay-submit="" lay-filter="del">删除</button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script th:inline="javascript">
		layui.use([ 'jquery', 'form', 'layer' ], function() {
			var $ = layui.jquery;
			var form = layui.form;
			var layer = layui.layerl;

			form.on('submit(del)', function(data) {
				var path = data.field.superiorPath;

				window.parent.socket_delNodes(path);
				parent.layer.close(parent.layer.getFrameIndex(window.name));
				return false;
			});
			
			form.val('del', {
				superiorPath : [[${path}]]
			});
		});
	</script>
</body>